html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About Page
  body
    h1 About Page
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sapiente atque autem hic quia fugiat odit maiores eligendi pariatur possimus qui iste optio, quas blanditiis maxime deserunt. Repudiandae, quisquam aspernatur.