html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form
  body
    h1=title
    form(action = "/form", method = "POST")
      div
        label(for = "name") Name:
        input(name="name" placeholder = "enter a name")
      br
      button(type="submit") Send request